.recipe-item{
    display: inline-flex;
    flex-direction: column;
    width: 25%;
    margin: 5px;
    background-color: lightgreen;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;text-align: center;
}


.recipe-item img{
    width: 90%;
    height: 200px;
    border-radius: 19px;
    border: 1px solid;
    box-shadow: 1px 1px 2px grey;
    cursor: pointer;
}
.recipe-item p{
    cursor:pointer;
}